<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="../public/index2.css">
        
        <title>About Me</title>
    </head>
    <body id="body-pd">
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav__brand">
                        <div class="nav__toggle"  id="nav-toggle">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                        <a href="#" class="nav__logo">1805669</a>
                    </div>
                    <div class="nav__list">
                        <a href="/" class="nav__link">
                            <img src="../public/home_white_24dp.svg"> 
                            <span class="nav__name">Home</span>
                        </a>
                        <a href="/aboutme" class="nav__link">
                            <img src="../public/face_white_24dp.svg">
                            <span class="nav__name">About Me</span>
                        </a>

                    </div>
                </div>
            </nav>
        </div>

        <div class="main-container">
            <div class="main-top">
                <h1>About Me</h1>
            </div>
            <div class="main-input-container">
                <div>
                    Name: Kumar Surya Pratap
                </div>
                <div>
                    Roll: 1805669
                </div>
                <div>
                    Github profile: <a href="https://github.com/SPratap7">https://github.com/SPratap7</a>
                </div>
                <div>
                    Skills: Javascript, HTML, NodeJS, etc.
                </div>
                <div>
                    Projects:
                    <div>1.My porfolio/personal website: Created using HTML,CSS and Javascript</div>
                    <div>2.Some project</div>
                    <div>3.Some other project</div>
                </div> 
            </div>
        </div>
        <!-- ===== MAIN JS ===== -->
        <script src="../public/index.js"></script>
    </body>
</html>